@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Pacifico&family=Roboto+Condensed:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script&family=Pacifico&family=Roboto+Condensed:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



html {
    height: 100%;
    width: 100%;

}

body {
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/fotos-premium/papeis-de-parede-de-textura-perfeita-no-estilo-barroco-ilustracao-moderna_208588-1780.jpg?w=2000');
    background-repeat: repeat;
    background-size: 100vh;
}

.barra {
	position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: 1030;
    display: flex;
    flex-direction: row;
	align-items: center;
    height: 150px;
    justify-content: center;
	background-color: #039BE5;
    width: 100%;
}

.nome_do_site {
    margin-left: 5%;
    margin-right: 5%;
}

.biografiali, .informacaoli {
    margin: 5%;
}

a {
	font-family: 'Bungee Spice', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 37px;
	color: black;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    border: solid black;
    padding: 10px;
    text-decoration: none;
    border-radius: 40%;
}

.barra a:hover{
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.titulo {
    position: relative;
	text-align: center;
}

.nome_do_site {
	font-family: 'Peralta', cursive;
	font-size: 33px;
    text-align: center;
}

.container {
    display: flex;
    margin-top: 15%;
}

.biografia {
    border: 5px double;
    background-color: #E0FFFF;
    border-color: #778899;
    margin-left: 10%;
    width: 30%;
    height: 100%;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
}

.biografia_titulo {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

.biografia_texto {
    font-family: 'Secular One', sans-serif;
    font-size: 30px;
    padding: 10px;
}

.foto_mae {
    display: inline-block;
    border-radius: 30px;
    width: 30%;
    height: auto;
    margin-left: 24%;
    margin-top: 50px;
}

.projetos_informacao {
    display: flex;
    flex-direction: row;
}

.projeto_titulo {
    text-align: center;
    border: dotted;
    border-color: #FFA07A;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    padding: 30px;
}

.slideshow-container{
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-left: 16%;
   
}

.informacao_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacao_titulo {
    text-align: center;
    border: dotted;
    border-color: #FFA07A;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    padding: 30px;
    margin-left: 20%;
}

.informacao_texto {
    border: 5px double;
    background-color: #E0FFFF;
    border-color: #778899;
    margin-left: 20%;
    width: 35%;
    height: auto;
    border-radius: 50px;
    text-align: center;
}

.informacao_texto {
    font-family: 'Secular One', sans-serif;
    font-size: 30px;
    padding: 10px;
}

.mySlides {
    position: relative;
    width: 100% auto;
    max-width: 400px;
}

.mySlides img{
    width: 100%;
    height: auto;
}

.prev {
    position: absolute;
    top: 60%;
    left: 7%;
    text-align: center;
    width: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 50% 50%;
    border: 5px solid gold;
    border-width: 5px;
    cursor: pointer;
}

.next {
    position: absolute;
    top: 60%;
    right: -7%;
    text-align: center;
    width: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 50% 50%;
    border: 5px solid gold;
    border-width: 5px;
    cursor: pointer;
    display: block;
}

.prev:hover, .next:hover {
    background-color: white;
    transition: 0.6s;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  transition-duration: 1s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.barra_contactos {
    background-color: #FFF5EE;
    padding: 20px;
}

.contactos_titulo {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 23px;
}

.contactos_informacao {
    text-align: center;
}

.contactos_informacao li{
    display: inline;
    text-decoration: underline;
    text-underline-offset: 6px;
    font-size: 20px;
}

.contactos_informacao .facebook{
    margin-left: 10%;
    margin-right: 10%;
}